<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/MyStyleSheet.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <h1>Кто хочет стать миллионером</h1>
        </div>
        <div class="navbar-form navbar-right">
            <a class="btn btn-primary" href="/Account/Login">Войти</a>
            <a class="btn btn-success" href="/Registration/RegForm">Зарегистрироваться</a>
        </div>
    </div>
</div>
<div>asdasd</div>

<div class="container body-content">
    <div>
        @RenderBody()
    </div>
    <div>
        <img src="~/Images/logo.png" alt=""/>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom">
    <p align="right">&copy; @DateTime.Now.Year - Chernigel Sergey</p>
</footer>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>